.routine-mgmt-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    height: calc(100vh - 65px - 60px);
}

.routine-mgmt-box {
    display: flex;
    justify-content: center;
    background-color: #333;
    width: 100%;
    height: 376px;
    border-radius: 5px;
}

.routine-mgmt-sub-box {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    overflow: auto;
    gap: 20px;
    padding: 20px;
    color: white;
    border-radius: 5px;
    max-width: max-content;
}

.routine-mgmt-entry {
    padding: 20px;
    border: none;
    border-radius: 5px;
    background-color: #222;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.routine-mgmt-entry:hover {
    cursor: pointer;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.1);
}

.routine-mgmt-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.routine-mgmt-name {
    font-weight: bold;
}

.routine-mgmt-description {
    color: #CCCCCC;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    height: 48px;
    /* ... after 2 lines */
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.routine-mgmt-no-routines {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: white;
}