.routine-mgmt-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    height: calc(100vh - 65px - 60px);
}

.routine-mgmt-box {
    background-color: #333;
    width: 100%;
    height: 49%;
    min-height: 370px;
    border-radius: 5px;
    overflow: auto;
}

.routine-mgmt-box-header {
    display: flex;
    align-items: center;
    color: white;
    width: 100%;
    padding: var(--chakra-space-5);
    border-bottom: 1px solid #444;
}

.routine-mgmt-box-header-text {
    display: inline-block;
}

.routine-mgmt-sub-box {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    width: 100%;
    color: white;
    border-radius: 5px;
}

.routine-mgmt-btn-container {
    display: inline-block;
    border: none;
}

.add-routine-btn {
    background-color: #007bff;
    color: white;
    font-size: 24px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-routine-btn:hover {
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.1);
}

.routine-mgmt-entry {
    padding: 20px;
    border: none;
    border-radius: 5px;
    background-color: #474747;
    border: 1px solid #444;
    height: 177px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.routine-mgmt-entry:hover {
    cursor: pointer;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.1);
}

.routine-mgmt-sub-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.name-and-icons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.routine-mgmt-name {
    font-weight: bold;
}

.routine-mgmt-icon-group {
    margin-left: 10px;
}

.routine-mgmt-icon {
    margin: 0 3px;
    cursor: pointer;
    font-size: larger;
}

.routine-mgmt-description {
    color: #CCCCCC;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    height: 65px;
    /* ... after 3 lines */
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.no-routines-found {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100% - 77px);
    color: white;
}




