.header {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    text-decoration: none;
    border: none;
    margin: 10px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-text {
    display: inline-block;
    font-size: 18px;
    width: 250px;
    height: 100%;
    vertical-align: middle;
}

.logo {
    display: inline-block;
    height: 50px;
    margin: 10px;
    vertical-align: middle;
}

a {
    text-decoration: none;
    color: white;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.navbar a:hover {
    text-decoration: underline;
}

.login-logout {
    width: 250 px;
}

.login-logout-btn {
    height: 30px;
    margin: 0px 10px 0px 10px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login-logout-btn:hover {
    background-color: #0056b3;
}