.user-profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    min-height: calc(100vh - 65px - 60px);
}

.user-profile-box {
    width: 500px;
    max-height: calc(100vh - 65px - 60px - 20px);
    background-color: #333;
    color: white;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 24px;
    overflow: auto;
}

.avatar-container {
    position: relative;
    cursor: pointer;
    width: 100px; 
    height: 100px;
    border-radius: 50%; 
    overflow: hidden; 
}

.user-avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.avatar-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    height: 25px; 
    border-bottom-left-radius: 50px; 
    border-bottom-right-radius: 50px;
}

.avatar-overlay {
    line-height: 1; /* Adjusts the vertical alignment of the plus sign */
    font-size: 24px;
}

.user-profile-header {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.user-profile-details {
    margin-top: 20px;
}

.user-profile-save, .user-profile-cancel {
    width: 100px;
    margin-top: 24px;
}
