.routine-mgmt-modal-btn {
    margin-left: 20px;
}

.routine-mgmt-modal-add-exercise {
    display: flex;
    align-items: center;
}

.routine-mgmt-modal-add-exercise > :first-child {
    flex-grow: 1;
}

.routine-mgmt-modal-save, .routine-mgmt-modal-cancel {
    width: 100px;
}

.routine-mgmt-modal-icon {
    margin-left: 10px;
    cursor: pointer;
}

.routine-mgmt-modal-exercise-input {
    background-color: #333 !important;
    width: 71px !important;
    text-align: center;
}

.draggable-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.routine-mgmt-modal-name-and-icons, .routine-mgmt-modal-draggable-inputs {
    display: inline-block;
    text-wrap: nowrap;
}