.add-routine-modal-btn {
    margin-left: 20px;
}

.modal-content {
    background-color: #333 !important;
    color: white !important;
}

.modal-header {
    border-bottom: 1px solid #444 !important;
}

.chakra-input {
    border: 1px solid #444 !important;
}

.chakra-input:focus {
    border-color: #007bff !important;
}

.chakra-textarea {
    border: 1px solid #444 !important;
}

.chakra-textarea:focus {
    border-color: #007bff !important;
}

.routine-visibility-select {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #444;
    background-color: #333;
    color: white;
    font-size: 16px;
    outline: none;
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24"><path fill="white" d="M7 10l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 8px center;
    background-size: 25px;
}

.routine-visibility-select:focus {
    border-color: #007bff; 
    box-shadow: 0 0 0 1px #007bff;
}

.routine-visibility-select::-ms-expand {
    display: none; 
}