.add-routine-modal-btn {
    margin-left: 20px;
}

.add-routine-modal-add-exercise {
    display: flex;
}

.add-routine-modal-add-exercise > :first-child {
    flex-grow: 1;
}

.add-routine-modal-save, .add-routine-modal-cancel {
    width: 100px;
}

.add-routine-modal-icon {
    margin-left: 10px;
    cursor: pointer;
    font-size: larger;
}

.add-routine-modal-input {
    background-color: #333 !important;
}

