.reset-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 65px - 60px);
    background-image: url('../../Assets/gym-background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.reset-password-form {
    background-color: #333;
    color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.reset-password-actions {
    display: flex;
    justify-content: start;
    margin-top: 10px;
}