.routine-log-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 65px - 60px);
    width: 35%;  
}

.routine-log-box {
    margin: 10px;
    width: calc(100% - 20px);
    height: 100%;
    background-color: #333;
    color: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.routine-entry {
    display: flex;
    flex-direction: column; /* Change to column layout */
    justify-content: space-between;
    padding: var(--chakra-space-5);
    border-bottom: 1px solid #444;
}

.routine-entry:hover {
    cursor: pointer; 
    background-color: rgba(0, 0, 0, 0.1);
}

.name-date-container {
    display: flex;
    justify-content: space-between;
    
}

.name, .date {
    max-width: 50%;
}

.name, .description {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.name {
    font-weight: bold;
}

.date {
    text-align: right;
}

.description {
    color: #CCCCCC;;
}

.no-routines {
    text-align: center;
}